##
## Настройки статического анализатора PHPStan.
##

parameters:
    # Уровень проверки от 0 до 8 (вместо 8 можно указать "max").
    level: 7
    # Пути, которые следует проверять.
    paths:
        - src
        - tests
    ignoreErrors:
        -
          path: 'tests/Unit/OpenApiValidatorTraitTest.php'
          message: '/PHPDoc tag @var for property .*\\OpenApiValidatorTraitTest::\$validatorTrait contains unresolvable type\./'
